html * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

html {
  background-color: white;
  padding: 20px;
}

body.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.bubble {
  width: 65vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(128, 128, 128, 0.05);
}

div.left-up,
div.right-down {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.left-up {
  justify-content: flex-start;
}

div.right-down {
  justify-content: flex-end;
}

div.lu-div,
div.rd-div {
  /*border: solid purple 2px;*/
  width: 45%;
  margin: 12px 6px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
}

div.left-up > div.lu-div {
  /*green*/
  background-color: rgb(241, 255, 239);
  align-items: flex-start;
}

div.right-down > div.rd-div {
  /*blue*/
  background-color: rgb(241, 245, 251);
  align-items: flex-end;
}

.lu-p,
.rd-p {
  margin: 0;
  padding: 8px;
  line-height: 25px;
  font-weight: bold;
  color: rgb(70, 70, 70);
}

div.lu-time,
div.rd-time {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: flex-end;
}

div.lu-time *,
div.rd-time * {
  color: gray;
}

img.lu-img {
  height: 75px;
  border-radius: 50%;
  padding: 15px;
}

div > img.check {
  padding-left: 15px;
  filter: grayscale(100%);
  opacity: 0.3;
}

@media (max-width: 950px) {
  html {
    background-color: white;
    padding: 10px;
  }

  main.bubble {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
